@import 'cssVariables.css';
@import 'cssAnimations.css';

.motivation {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2rem ;
    position: relative;
    margin: 10rem 0;
}
.motivation .backgroundImg{
    position: absolute;
    left: calc(5% - 30px);
    width: 30rem;
    opacity: 10%;
}

.motivationCard{
    margin-right: 5%
}

@media (max-width: 440px){
    
    .motivation {
        justify-content: center;
        align-items: center;
    }
    .motivation .backgroundImg{
        max-width: 70%;
        top: -30%;
        left: auto;
    }

    .motivationCard{
        margin-right: 0;
    }
}