@import 'cssVariables.css';
@import 'cssAnimations.css';

.presentationSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    position: relative;
    width: full;
    padding: 4rem 0 4rem 5%;
    background: var(--default_black);
    transition:  .3s;
}
.profileImage {
    border-radius: 100%;
    height: clamp(11rem, 20vw, 16rem);
    aspect-ratio: 1/1;
    animation: fadeIn ease-in-out .3s;
    & img {
        width: 100%;
    }

}
.presentationArticle h1 {
    color: var(--default_white);
    font-family: var(--primary_font);
    font-weight: 100;
    font-size: clamp(1.3rem, 3vw ,2.5rem);
    animation: fadeFromRight ease .5s .2s both;
    & span{
        background-image: var(--gradient_1);
        background-clip: text;
        color: transparent;
        font-size: clamp(1.8rem, 4vw, 3rem);
        font-weight: 400;

    }
}
.presentationArticle p {
    color: var(--light_gray);
    font-family: var(--primary_font);
    font-size: 1rem;
    animation: fadeFromRight;
    animation-timeline: view();
    /* animation: fadeFromRight ease .5s .3s both; */
    & span{
        background-image: var(--gradient_1);
        background-clip: text;
        color: transparent;
    }
}

/* Mobile */
@media (max-width: 440px) {
    .presentationSection{
        gap: 2rem;
        flex-direction: column;
        text-align: center;
        & h1{
            font-size: clamp(1rem, 5vw ,1.2rem);
            & span{
            font-size: clamp(1.3rem, 7vw, 2rem)
                
            }
        }
    }

    .profileImage{
        height: clamp(3rem, 30vw, 6rem);
    }

    
}


/* Light Mode */

.presentationSection.light{
    background: var(--secondary_white);
    & h1{
        color: var(--dark_blue)
    }
    & p{
        color: var(--dark_blue)
    }
}